*{
padding: 0px;
margin: 0px;
font-family: sans-serif;
   
}
#header_list1{
    /* border: solid 1px greenyellow; */
    display: flex;
    justify-content: space-around;
}
#socialy{
    /* border: solid 1px greenyellow; */
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: space-between;
}
#header_social>a>img{
    /* border: solid 1px; */
    height: 40px;
    align-content: center;
   
}
#logsign{
    /* border: solid 1px greenyellow; */
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
}
#logsign>div{
    /* border: solid 1px; */
    /* gap: 10px; */
}

#header_list2{
    /* border: solid 1px purple; */
    width: 100%;
    background-color: rgb(14, 174, 118);
}
#head_list2{
    /* border: solid 1px; */
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;

}
#head_list2>a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: large;
}

/* login css */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  /* slid show, */
section{
    /* border: solid 3px black; */
    width: 100%;

  }

.slider {
	width: 80%;
	margin: 0em auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    cursor: pointer;
}

.slider-wrapper {
	width: 100%;
	height: 400px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
#offers{
    font-size: 25px;
    margin-top:-30px ;
}

/* small image. */

.row{
    padding-top: 15px;
}
.column {
  float: left;
  width: 18%;
  margin-left: 0px;
  margin-right: 24px;
}
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}

.column img:hover {
  opacity: 1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Latest News & Videos */

#news{
    border: solid 1px ;
    width: 80%;
    margin: auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
#news_heading{
    /* border: solid 1px; */
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
#heading1{
     /* border: solid 1px green; */
     width: 40%;
     color: black;
     font-size: 25px;
         
}
#news_list{
    /* border: solid 1px; */
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    /* width: 20%; */
}
#news_list a{
    text-decoration: none;
    color: blue;
}
#news_items{
    border: solid 1px;
    width: 18%;
}

#news_img{
    border: solid 1px;
    display: flex;
    height: 38vh;
    padding: 10px;
    /* border-radius: 2px; */
    justify-content: space-between;

}
#news_img img{
    height: 30vh;
    width: 100%;
}



