*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #FCFCFC;
}

/****************** top *******************/
.top_t1{
display: flex;
color: #444444;
margin-left: 8em;
padding-top: 1em;
width: 30em;
}

.top_t1{
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 37px;
}

.top_t1>span{
    color: #888888;
    padding-left: 1em;
}
#top_t{
    width: 100%;
    background-color: #F0F0F0;
    padding-bottom: 2em;
}

#top_t>p{
    font-size: 14px;
    font-weight: 1em;
    margin-left: 15em;
    width: 74em;
    padding-bottom: 2em;
}

.inputs{
    margin-left: 12em;
    display: flex;
    gap: 20px;
    
}
.inputs>input{
    border-color: transparent;
    padding: 5px 30px 5px 00px;
    border-radius: 5px;
    font-size: 16px;
}

.inputs>select{
    border-color: transparent;
    padding: 5px 30px 5px 10px;    
    color: #888888;
    font-size: 16px;
}

.No1{
    background-color: #F53838;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    border-color: transparent;    
}

.No2{
    background-color: #04BE5A;
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    border-color: transparent;    
}


/*---- mid ----*/
#mid1{
    margin-left: 12em;
    padding-bottom: 10px;
}
.pages{
    padding-top: 2em;
    display: flex;
}
.pages>span>p{
    margin-left: 1em;
    text-decoration: none;
    color:#2184FF ;
}

.pages>button{
    margin-left: 58em;
    background-color: #E0E0E0;
    border-color: transparent;
    padding: 5px 10px 5px 10px ;
    border-radius: 5px;
    color: black;
    font-weight: 500;
}


#items{
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 220px;
    row-gap: 20px;
    column-gap: 60px;
}

.item{
    width: 500px;
    margin-bottom: 2em;
    border-radius: 15px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.item>img{
    height: 300px;
    width:  500px;
    padding-bottom: 10px;
    border-radius: 15px;
    

}

.tit>h3{
    margin-left: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.item>p{
    font-size: 13px;
    margin-left: 20px;
    padding-bottom: 10px;

}
.tit{
    margin-left: 10px;

}
.my{
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    background-color: #F53838;
    color: white;
    border-color: transparent;
    margin-left: 10px;
    font-weight: 600;
}

.item_img{
   height: 35px;
   width: 35px;
   display: flex;
   gap: 8px;
   margin-top: 20px;
   margin-right: 80px;
}

.bottom{
    display: flex;
    justify-content: space-around;
}
.kind{
    margin-top: 20px;
}
.kind>h2{
    line-height: 30px;
    text-align: center;
    color: #F53838;
}
.off{
    margin-top: 20px;
}
.off>h2{
    line-height: 30px;
    text-align: center;
    color: #888888;
    font-weight: 300;
}

.last{
    padding-top: 50px;
    margin-left: 150px;
    width: auto;
    height: 100%;
}

.last1{
    background-color: #E0E0E0;
}

.ten{
    text-align: center;
    position: relative;
    top: 30px;
    display: inline;
    color: black;
    background-color: white;
    border-radius:22px;
    height: 30px;
    width: 40px;
    left: 10px;
    font-size: 22px;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}





